BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: InlineOnly
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: Align
SpacesInAngles: false
Cpp11BracedListStyle: true